<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'category.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>My_{{ category }}_</h1>
        <ul class="container">
            {% for article in articles %}
            <div class="line"></div>
            <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
            <br>
            <p>{{ article.content }}</p>
            <div class="line"></div>
            {% endfor %}
        </ul>
        <a class='home' href="{% url 'list' %}">HOME</a>
    </body>
</html>