<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'list.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Daily_Life_</h1>
        <ul div class="container">
            <div class="hobby">
                <a href="/category/hobby">HOBBY [{{ NumHobby }}]</a> 
                <div class="squarehob"></div>
                <p>Refreshing and Resilience for me</p>
            </div>
            <div class="food">
                <a href="/category/food">FOOD [{{ NumFood }}]</a> 
                <div class="squarefood"></div>
                <p>Love healthy, fresh, rich</p>
            </div>
            <div class="programming">
                <a href="/category/programming">PROGRAMMING [{{ NumProgramming }}]</a> 
                <div class="squarepro"></div>
                <p>To be Steady, Outstanding</p>
            </div>
        </ul>
        <a class="add" href="{% url 'new' %}">Add NEW</a>
    </body>
</html>