<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'New.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Caveat+Brush&family=Cormorant+Garamond:ital,wght@0,300;1,300&family=Nanum+Gothic+Coding&family=Nanum+Myeongjo&family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <h1>Add NEW</h1>
        <form action="/new" method="post">
        {% csrf_token %}
        <div class="title">
            <div>Title</div>
            <input type="text" name="title"/>
        </div>
        <div class="category">
            <label><input type="radio" name="category" value="hobby">Hobby</label>
            <label><input type="radio" name="category" value="food">Food</label>
            <label><input type="radio" name="category" value="programming">Programming</label>
            <div class="content">Content</div>
            <textarea name="content" cols="40" rows="20"></textarea>
        </div>
        <button class="save"type="submit">SAVE</button>
        </form>
    </body>
</html>