<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>ADD</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Hahmlet:wght@100;200;300;400;500&family=Koulen&family=Roboto+Condensed:ital,wght@0,300;0,400;1,400&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Edit.css' %}">
</head>

<body>
    <h1>✏️NEW SUBJECT</h1>
    <div class="subject">
        <form method="Post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button>SAVE</button>
        </form>
    </div>
</body>

</html>