{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Assistant&family=Barlow+Condensed:ital,wght@0,300;1,200&family=Bebas+Neue&family=Maven+Pro&family=Titan+One&display=swap" rel="stylesheet">
    {% block css %}{% endblock css %}
    <title>My Blog</title>
  </head>

  <body>
    <div class="nav-bar">
      <a class="nav-item" href="{% url 'home' %}">HOME</a>
      {% if user.is_authenticated %}
      <div class="nav-item">WELCOME, {{ user.username }}</div>
      <a class="nav-item" href="{% url 'mypage' %}"> My Page </a>
      <a class="nav-item" href="{% url 'logout' %}"> Logout </a>
      {% else %}
      <a class="nav-item" href="{% url 'login' %}">Login</a>
      <a class="nav-item" href="{% url 'signup' %}">SignUP</a>
      {% endif %}
    </div>
    {% block content %} {% endblock content %}
  </body>
</html>
