{% extends 'base.html' %} {% block content %} {% block css %}{% load static %}
<link rel="stylesheet" href="{% static 'Mypage.css' %}" />
{% endblock css %} 
<div class="wrap">
  <div class="like-container">
    <h5>What You Liked</h5>
    {% for post1 in liked_posts %}
    <li>{{ post1.article }}</li>
    {% endfor %}
  </div>
  
  <div class="scrap-container">
    <h5>What You Scrapped</h5>
    {% for post2 in scrapped_posts %}
      <li>{{ post2.article }}</li>
    {% endfor %}
  </div>
{% endblock content %}

