<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'count.css' %}">
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE-edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Document</title> 
    </head>
    <body>
        <div>
            <h2>글자를 입력해 보세요!❤️</h2>
            <form action="{% url 'result' %}" method="post">{% csrf_token %}
                <textarea name="text" cols="40" rows="20" required>아무거나~</textarea>
                <br />
                <input type="submit" value="제출"/>
            </form>
        </div>
    </body>
</html>